/* * {
  box-sizing: border-box;
  margin: 0px;
} */
html {
  font-size: 62.5%;
}
.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;

  place-content: center;
}
.item {
  background-color: #b5de00;
  display: grid;
  place-items: end;
}
.item:nth-child(2n + 1) {
  border-right: 20px solid #416e09;
}
.item:nth-child(2n) {
  border-left: 20px solid #416e09;
}
.item:nth-child(1),
.item:nth-child(2) {
  border-bottom: 20px solid #416e09;
}
.item:nth-child(3),
.item:nth-child(4) {
  border-top: 20px solid #416e09;
}
.item span {
  width: 50px;
  height: 50px;
  background-color: #93cd4d;
}
