.contenedor {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.item-1 {
  background-color: aquamarine;
}
.item-2 {
  background-color: red;
  grid-column: 2 / 4;
}
.item-3 {
  background-color: green;
  grid-column: 1 / 3;
}
.item-4 {
  background-color: greenyellow;
  grid-column: 3 / 4;
}
.item-5 {
  background-color: rgb(105, 148, 255);
}
.item-6 {
  background-color: rgb(255, 105, 145);
}
.item-7 {
  background-color: rgb(148, 105, 255);
}
