* {
  box-sizing: border-box;
  margin: 0px;
}
.container {
  margin: 10px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  gap: 20px;
  grid-auto-flow: column;
}
.container .item {
  background-color: #b5de00;
  color: white;
  font-size: 2rem;
  position: relative;
}
.item span {
  background-color: green;
  position: absolute;
  bottom: 0;
  right: 0;
}
