.header {
  margin: 100px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  box-shadow: 0px 0 5px black;
}
.header-item {
  padding: 50px;
}
.header-item__title {
  font-size: 3rem;
  font-weight: bolder;
  color: #333;
}
.header-item__texto {
  font-size: 1.2rem;
  color: #333;
}
.header-item__boton {
  font-size: 1.2rem;
  color: white;
  margin-top: 20px;
  padding: 8px 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(255, 132, 0);
}

.header img {
  width: 100%;
  height: 100%;
}
.galery {
  margin: 100px;
  box-shadow: 0px 0 5px black;
}
.galery h2 {
  padding-top: 100px;
  font-size: 2rem;
  font-weight: bolder;
  color: #333;
  text-align: center;
  margin-top: 100px;
}
.galery-container {
  margin: 100px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, minmax(150px, 1fr));
  gap: 50px;
}
.galery-container figure {
  margin: 0px;
}
.galery-container .big {
  grid-area: 1 / 1 / 3 / 3;
}
.galery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu {
  margin: 100px;
  box-shadow: 0px 0 5px black;
}
.menu-container {
  padding: 20px;
  margin: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}
.menu h2 {
  padding-top: 100px;
  font-size: 2rem;
  font-weight: bolder;
  color: #333;
  text-align: center;
  margin-top: 100px;
}
.menu-container figure {
  background-color: rgba(255, 166, 0, 0.475);
  margin: 0px;
  border-top-left-radius: 20px;
}
.menu-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
